*{
  padding: 0;
  margin: 0;
}
body{
  background: #ffffff;
}
.container{
  width: 90%;
  margin: 0 auto;
}
#car{
  padding-top: 20px;
  .car{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &--haw {
      span {
        margin-left: 10px;
        font-weight: 500;
        font-size: 10px;
        line-height: 143.19%;
        letter-spacing: 0.065em;
        color: rgba(0, 0, 0, 0.6);
      }
      //  h1{
      //    font-weight: 500;
      //    font-size: 18px;
      //    line-height: 21px;
      //    color: #de0f0f;
      //}
        p {
          font-weight: 300;
          font-size: 18px;
          line-height: 149.19%;
          color: #263238;
        }
    }
    &--how{
      margin-top: 50px;
    }
    h1{
      padding: 10px 0;
    }

  }
}